/* Colors */
/* rgb(75, 85, 231) */
/* rgb(229, 226, 233) */
/* rgb(255, 213, 5) */
/* rgb(106, 27, 208) */
/* rgb(0, 191, 166) */
/* Font Properties */
/* Borders */
/* Box Shadow */
/* Transitions */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

.plans__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 75vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.3))), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(transparent)), url(../images/Abstract_Background_02-05.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent), url(../images/Abstract_Background_02-05.jpg) no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.header__nav {
  margin: 2rem 3rem;
  float: right;
}

.header__a {
  color: whitesmoke;
  margin: 1rem;
  cursor: pointer;
}

.header__button {
  font-size: 1rem;
  color: #6a1bd0;
  background-color: #ffd505;
  margin-right: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
}

.header__nav > .header__button {
  margin-left: 2rem;
}

.header__div {
  position: absolute;
  top: 50%;
  width: 35%;
  margin: 1rem 3rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__h1 {
  color: #ffd505;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.header__span {
  color: whitesmoke;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: block;
}

.header__p {
  color: whitesmoke;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.header__p:last-child {
  font-size: 1rem;
}

.header__div > .header__button {
  margin: 2rem 0 0.5rem 0;
  padding: 0.75rem 1.5rem;
}

.header__i {
  color: whitesmoke;
  margin: 0 0.5rem;
}

.header__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
  margin: 3rem;
}

.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left bottom, left top, from(#c1b5ef), color-stop(#e5e2e9), to(transparent)), url(../images/double-bubble-outline.png);
  background: linear-gradient(to top, #c1b5ef, #e5e2e9, transparent), url(../images/double-bubble-outline.png);
  overflow: hidden;
  text-align: center;
  padding-bottom: 2rem;
}

.plans__div {
  width: 40%;
  margin: 6rem 0 4rem 0;
}

.plans__h2 {
  color: #6a1bd0;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0.75rem 0 1rem 0;
  position: relative;
}

.plans__h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6%;
  background-color: black;
  height: 2px;
  width: 12%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.plans__span {
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
}

.plans__span.-rates {
  color: gray;
  font-size: 0.875rem;
  text-transform: lowercase;
}

.plans__p {
  color: black;
  font-size: 1rem;
  margin: 0.5rem 0;
  line-height: 1.5;
}

.plans__p.-price {
  font-size: 1.5rem;
}

.plans__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plans__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 300px;
  margin: 0.3rem;
  padding: 2rem;
  background-color: whitesmoke;
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
  opacity: 0.8;
}

.plans__hexagon {
  width: 50px;
  height: 28.8675px;
  background: black;
  position: relative;
}

.plans__hexagon::before {
  content: '';
  position: absolute;
  top: -14.43375px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 14.43375px solid black;
}

.plans__hexagon::after {
  content: '';
  position: absolute;
  bottom: -14.43375px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 14.43375px solid black;
}

.plans__i {
  color: whitesmoke;
  margin: 0.25rem;
}

.plans__h3 {
  color: #6a1bd0;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0.75rem 0 0.5rem 0;
}

.plans__button {
  color: whitesmoke;
  background-color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  cursor: pointer;
}

.about {
  background: -webkit-gradient(linear, left bottom, left top, from(#c1b5ef), color-stop(#e5e2e9), to(transparent)), url(../images/double-bubble-outline.png);
  background: linear-gradient(to top, #c1b5ef, #e5e2e9, transparent), url(../images/double-bubble-outline.png);
}

.services {
  background: url(../images/Abstract_Background-05.jpg) no-repeat;
  background-size: cover;
}

.contact {
  background: -webkit-gradient(linear, left bottom, left top, from(#c1b5ef), color-stop(#e5e2e9), to(transparent)), url(../images/double-bubble-outline.png);
  background: linear-gradient(to top, #c1b5ef, #e5e2e9, transparent), url(../images/double-bubble-outline.png);
}

.faqs {
  background: url(../images/Abstract_Background-05.jpg) no-repeat;
  background-size: cover;
}

.footer {
  background: #4b55e7;
}

/* Universal Styles */
html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
/*# sourceMappingURL=style.css.map */