.contact {
    min-height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to top, rgb(193, 181, 239), $secondary-bg-color-1, transparent),
    url(../images/double-bubble-outline.png);
    padding: 2rem;

    &__div {
        width: 40%;
        max-width: 500px;
    }

    &__h2 {
        color: $secondary-color-1;
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0.75rem 0 1rem 0;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -6%;
            background-color: black;
            height: 2px;
            width: 10%;
        }
    }

    &__p {
        color: black;
        font-size: 1rem;
        margin: 0.5rem 0;
        line-height: 1.5;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__input, &__textarea {
        color: black;
        font-family: $main-font;
        margin: 0.25rem 0;
        border-radius: $border-radius-sm;
        padding: 0.5rem;
        &::placeholder{
            color: $secondary-color-1;
        }
    }

    &__button {
        color: whitesmoke;
        background-color: black;
        margin: 1rem 0;
        padding: 0.5rem 1.5rem;
        border-radius: 50px;
        opacity: 0.9;
        width: 150px;
        cursor: pointer;
    }

    &__img {
        width: 25%;
    }
}

@media only screen and (max-width: 1300px) {

    .contact__img {
        width: 35%;
    }
}

@media only screen and (max-width: 1100px) {

    .contact__div {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {

    .contact {
        flex-direction: column;
        
        &__div {
            width: 90%;
        }

        &__img {
            width: 40%;
        }
    }
}

@media only screen and (max-width: 610px) {

    .contact__img {
        width: 60%;
    }
}

@media only screen and (max-width: 400px) {

    .contact__img {
        width: 80%;
    }
}