.faqs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../images/Abstract_Background-05.jpg) no-repeat;
    background-size: cover;
    padding: 2rem;

    &__div {
        width: 40%;
        margin-right: 3rem;
    }

    &__h2 {
        color: $main-color;
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0.5rem 0;

        &::before {
            content: 'FREQUENTLY ASKED QUESTIONS';
            display: block;
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    &__span {
        color: whitesmoke;
        font-size: 1.5rem;
        text-transform: uppercase;
        display: block;
    }

    &__p {
        color: $main-color;
        font-size: 1rem;
        margin: 0.5rem 0;

        &:nth-child(3) {
            color: whitesmoke;
            font-weight: bold;
            margin-top: 2rem;
        }
    }

    &__a {
        color: whitesmoke;
        cursor: pointer;
        transition: $link-transitions;

        &:hover {
            color: $main-color;
        }
    }

    &__img {
        margin-top: 2rem;
        width: 75%;
    }

    &__questions {
        width: 50%;
    }

    &__box {
        display: flex;
        position: relative;
        background-color: #426ffa;
        border-radius: $border-radius-sm;
        box-shadow: $secondary-box-shadow-1;
        margin: 0.5rem 0;
        padding: 1rem 1.5rem;
        transition: $questionBox-transitions;
        cursor: pointer;

        &:hover .faqs__question:not(.faqs__question.-active), &:hover .faqs__i.fa-plus {
            color: $main-color;
        }

        &.-active {
            background-color: $secondary-bg-color-1;
            border-left: 4px solid $secondary-color-1;
        }
    }

    &__i {
        margin: 0 1rem;
    }

    &__i:first-child {
        color: $main-color;

        &.-active {
            color: $secondary-color-1;
        }
    }

    &__question {
        color: whitesmoke;
        transition: $questionBox-transitions;

        &.-active {
            color: $secondary-color-1;
        }
    }

    &__answer {
        margin-top: 1rem;
        display: none;

        &.-active {
            display: block; 
        }
    }

    &__i.fa-plus {
        position: absolute;
        right: 1rem;
        color: whitesmoke;
        display: block;

        &.-active {
            display: none;
        }
    }

    &__i.fa-minus {
        position: absolute;
        right: 1rem;
        color: black;
        display: none;

        &.-active {
            display: block;
        }
    }
}

@media only screen and (max-width: 1300px) {

    .faqs__questions {
        width: 60%;
    }
}

@media only screen and (max-width: 932px) {

    .faqs {
        flex-direction: column;
        justify-content: center;
        
        &__div {
            width: 90%;
            margin: 2rem;
            text-align: center;
        }

        &__img {
            width: 50%;
        }

        &__questions {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 682px) {

    .faqs__questions {
        width: 100%;
    }
}

@media only screen and (max-width: 610px) {

    .faqs__img {
        width: 70%;
    }
}

@media only screen and (max-width: 562px) {

    .faqs {

        &__i.fa-plus {
            display: none;
        }

        &__i.fa-minus.-active {
            display: none;
        }
    }
}

@media only screen and (max-width: 400px) {

    .faqs__img {
        width: 80%;
    }
}

@media only screen and (max-width: 320px) {

    .faqs__img {
        width: 100%;
    }
}