.footer {
    background: $main-bg-color;
    padding: 2rem;

    &__div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__content {
        width: 40%;
        text-align: center;
    }

    &__h2 {
        color: $main-color;
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0.5rem 0;
    }

    &__span {
        color: whitesmoke;
        font-size: 1.5rem;
        text-transform: uppercase;
        display: block;
    }

    &__p {
        color: whitesmoke;
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    &__img {
        width: 18%;
    }

    &__button {
        font-size: 1rem;
        color: $secondary-color-1;
        background-color: $main-color;
        margin: 1.5rem 0 0.5rem 0;
        padding: 0.75rem 1.5rem;
        border-radius: 50px;
        cursor: pointer;
    }

    &__info {
        width: 95%;
        margin: auto;
    }

    &__hr {
        border: 1px solid whitesmoke;
    }

    &__terms {
        display: flex;
        justify-content: space-between;
    }

    &__li {
        display: inline-block;
        list-style-type: none;
        color: whitesmoke;
        font-size: 1rem;
        margin: 0.5rem 1rem;
    }

    &__a {
        color: whitesmoke;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            color: $main-color;
        }
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {

    .footer__content {
        width: 30%;
    }
}

@media only screen and (max-width: 800px) {

    .footer {

        &__div {
            flex-direction: column;
        }

        &__content {
            width: 90%;
        }

        &__img:last-child {
            display: none;
        }
    }
}

@media only screen and (max-width: 688px) {

    .footer {

        &__terms {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &__li {
            display: block;
        }
    }
}

@media only screen and (max-width: 610px) {

    .footer__img {
        width: 30%;
    }
}

@media only screen and (max-width: 400px) {

    .footer__img {
        width: 50%;
    }
}