/* Colors */

$main-bg-color: #4b55e7; /* rgb(75, 85, 231) */
$secondary-bg-color-1: #6a1bd0; /* rgb(106, 27, 208) */
$main-color: #ffd505; /* rgb(255, 213, 5) */
$secondary-color-1: #00bfa6; /* rgb(0, 191, 166) */

/* Font Properties */

$main-font: Lato, sans-serif;
//$secondary-font-1: ;
$main-font-size: 2.15vmin;

/* Borders */

$main-border: 1px solid $secondary-color-1;
$border-radius-xs: 3px;
$border-radius-sm: 5px;

/* Box Shadow */

$main-box-shadow: 2px 2px 5px darkslategrey;
$secondary-box-shadow-1: 5px 5px 20px black;

/* Transitions */

$button-transitions: all 0.2s ease-in 0.1s;
$nav-transitions: all 0.75s ease-in-out 0.1s;