/* Colors */

$main-bg-color: #4b55e7; /* rgb(75, 85, 231) */
$secondary-bg-color-1: #e5e2e9; /* rgb(229, 226, 233) */
$main-color: #ffd505; /* rgb(255, 213, 5) */
$secondary-color-1: #6a1bd0; /* rgb(106, 27, 208) */

/* Font Properties */

$main-font: 'Lato', sans-serif;
$secondary-font-1: Arial, sans-serif;
$main-font-size: 2.15vmin;

/* Borders */

$main-border: 1px solid $secondary-color-1;
$border-radius-xs: 3px;
$border-radius-sm: 5px;

/* Box Shadow */

$main-box-shadow: 2px 2px 5px gray;
$secondary-box-shadow-1: 1px 1px 3px $secondary-bg-color-1;

/* Transitions */

$link-transitions: all 0.3s ease-in;
$questionBox-transitions: color 0.25s ease-in 0.1s, background-color 0.25s linear 0.1s;